
.app {
  &-wrp {
    height: 100%;
    display: flex;
    padding: 75px 15px 0;
  }


  &-heading {
    color: white;
    background-color: #1E2527;
    padding: 25px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}
