
.app {
  &-wrp {
    height: 100%;
    display: flex;
    margin-top: 53px;
  }


  &-heading {
    color: white;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: calc(50% - 250px);
    width: 500px; // ??
    z-index: 0;
  }
}

