.grid {
  &-wrp{
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    padding: 15px;
  }
  &-item{
    position: relative;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
  &-actions{
    padding: 5px 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    span{
      box-shadow: 2px 1px 4px grey;
      cursor: pointer;
      padding: 3px 5px;
      border-radius: 5px;
      background-color: lighten(aliceblue, 5%);
      transition: box-shadow 150ms linear;
      margin: 0 5px;
      &:hover{
        background-color: aliceblue;
      }
      &:active {
        background-color: darken(aliceblue, 5%);
      }
    }
  }
}
