@import "~src/app/styles/variables";

section{
  background-color: $grid-bg;
  height: calc(80vh + 45px);
  overflow-y: auto;
  width: 80%;
  margin: 0 auto;
}
app-search{
  width: 80%;
  margin: 0 auto;
  display: block;
}
